@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 219 45% 28%;
    --primary-foreground: 210 40% 98%;
    --secondary: 219 45% 28%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 219 45% 28%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 219 45% 28%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 219 45% 28%;
    --destructive-foreground: 210 40% 98%;
    --border: 219 45% 28%;
    --input: 219 45% 28%;
    --ring: 219 45% 28%;
    --radius: 0.75rem;
  }

  .landing-two {
    --primary: 219 45% 28%;
    --secondary: 12 100% 67%;
    --accent: 45 88% 61%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  [--animation-delay="200ms"] {
    animation-delay: 200ms;
  }
  [--animation-delay="400ms"] {
    animation-delay: 400ms;
  }
  [--animation-delay="600ms"] {
    animation-delay: 600ms;
  }
  [--animation-delay="800ms"] {
    animation-delay: 800ms;
  }
}